<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ if .IsHome }}{{ .Site.Title }}{{ else }}{{ .Title }} | {{ .Site.Title }}{{ end }}</title>
    {{ $styles := resources.Get "css/main.css" | postcss | resources.Minify | resources.Fingerprint }}
    <link rel="stylesheet" href="{{ $styles.RelPermalink }}">
</head>

<body>
    <header>
    </header>
    <main>
        {{ block "main" . }}{{ end }}
    </main>
    <footer>
    </footer>
</body>

</html>