<header class="bg-header-background bg-cover bg-center py-6">
    <div class="container mx-auto px-4">
        <div class="flex items-center mb-6">
            <img src="{{"/images/profile.png" | relURL }}" alt="プロフィール画像 まーくん。(MarkN)"
                class="w-20 h-20 rounded-full mr-4 border-2 border-white shadow-md">
            <div>
                <h1 class="text-2xl font-bold text-gray-800">{{ .Site.Params.Author.name | default "まーくん。(MarkN)のホームページ"
                    }}</h1>
                <p class="text-gray-700">{{ .Site.Params.Author.bio | default "Resoniteでプログラミングなどをしてツールやおもちゃを作っています" }}
                </p>
            </div>
        </div>

        <div class="mb-6 space-x-4">
            <a href="https://docs.google.com/forms/d/e/1FAIpQLSdl5UHhRc5Hq5Y_njMLCttSEqnHpWem_Ays6OpfYGGYOEIExg/viewform?usp=sharing&ouid=116153046693437475138"
                class="text-custom-dark-blue hover:underline font-semibold">お問い合わせ</a>
            <span class="inline-flex items-center">
                <a href="https://www.youtube.com/@marknvr" target="_blank" rel="noopener noreferrer"
                    class="text-custom-dark-blue hover:underline ml-1">YouTube</a>
            </span>
            <span class="inline-flex items-center">
                <a href="https://x.com/markn_chansan" target="_blank" rel="noopener noreferrer"
                    class="text-custom-dark-blue hover:underline ml-1">X (Twitter)</a>
            </span>
            <span class="inline-flex items-center">
                <a href="https://markn.booth.pm/" target="_blank" rel="noopener noreferrer"
                    class="text-custom-dark-blue hover:underline ml-1">BOOTH</a>
            </span>
        </div>

        {{ $tags := .Site.Taxonomies.tags }}
        {{ if gt (len $tags) 0 }}
        <div class="p-4 bg-white bg-opacity-80 rounded-lg shadow"> <span
                class="font-semibold mr-2 text-gray-700">タグ:</span>
            {{ range $name, $taxonomy := $tags }}
            {{ with $.Site.GetPage (printf "/tags/%s" $name) }}
            <a href="{{ .Permalink }}"
                class="inline-block bg-custom-light-blue hover:bg-blue-400 text-gray-800 font-semibold rounded-full px-3 py-1 text-sm mr-2 mb-2 transition-colors duration-150">{{
                .Title }} ({{ len $taxonomy.Pages }})</a>
            {{ end }}
            {{ end }}
        </div>
        {{ end }}
    </div>
</header>